#title{
    text-align: center;
}


#image{
    width: 70%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  }

  #img-div{
    background: white;
    padding: 10px;
    margin: 10px;
  }
  #quote{
      text-align: center;
  }